# Created by https://www.toptal.com/developers/gitignore/api/bloop,scala,metals,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=bloop,scala,metals,visualstudiocode

### Bloop ###
.bloop/

### Metals ###
.metals/
project/**/metals.sbt

### Scala ###
*.class
*.log
target/
*.jar*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# JavaScript frequency generator
node_modules/

# End of https://www.toptal.com/developers/gitignore/api/bloop,scala,metals,visualstudiocode

# Environment variables (secrets)
.env
.env.*