/* Dark theme styles */
.dark-theme {
  background-color: #1a1a1a;
  color: #fff;
}

.dark-theme h1 {
  color: #ff9800;
}

.dark-theme a {
  color: #2196f3;
}

.dark-theme code {
  background-color: #212121;
  color: #fff;
}

.dark-theme pre {
  background-color: #212121;
  color: #fff;
}

.dark-theme pre code {
  background-color: transparent;
  color: inherit;
}

.dark-theme blockquote {
  border-left-color: #ff9800;
}

.dark-theme hr {
  background-color: #fff;
}

.dark-theme img {
  filter: invert(100%);
}

.dark-theme table {
  border-collapse: collapse;
}

.dark-theme th,
.dark-theme td {
  border: 1px solid #fff;
}

body {
  max-width: 60%;
  margin: auto;
}
